ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    background: url('../imagens/menu.png') no-repeat;
    
    text-decoration: none;
    color: black;
    text-indent: 40px;
    line-height: 40px;

}

/*A imagem de background será movida quando o mouse passar*/
ul a:hover {
    background-position: right;
    color: #ffffff;
}


